body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
  font-family: Arial, sans-serif;
}
.App {
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgb(62, 62, 62);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-container {
  padding: 10px;
  margin-bottom: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  background-color: #45a049;
}
.todo-list {
  background-color: rgb(235, 243, 244);
  width: 360px;
  height: 500px;
  list-style: none;
}
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.todo-item li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.button-item {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #e0675f;
  color: white;
  border: none;
  cursor: pointer;
}

.text {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.button-item:hover {
  background-color: #d32f2f;
}
